<a id="btt-button"></a>
<footer id="rodape" class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <p>Feito para facilitar a vida.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>

<!-- <?php if ($pageGroup='classes' || 'racas' || 'detalhes') echo '<script>new ActiveMenuLink(".sidebar-menu",{itemTag: "li",activeClass: "quick-menu-active",showHash: false, headerHeight: -50});</script>' ?>
<?php if ($pageGroup='classes' || 'racas' || 'detalhes') echo '<script>var btn=$(\'#btt-button\');$(window).scroll(function(){if($(window).scrollTop()>300){btn.addClass(\'show\')}else{btn.removeClass(\'show\')}});btn.on(\'click\',function(e){e.preventDefault();$(\'html, body\').animate({scrollTop:0},\'300\')})</script>' ?> -->

</body>

</html>