<header>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div id="header-menu">
					<nav class="navbar navbar-dark bg-dark navbar-expand-lg"  style="background-color: #111!important;">
						<a class="navbar-brand site-title" href="https://aux5e.github.io/">
							<span class="site-title-alt">Aux.</span>5e
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="/racas.html">Raças</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/classes.html">Classes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/lista-de-magias.html">Magias</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/antecedentes.html">Antecedentes</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/talentos.html">Talentos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/equipamento.html">Equipamento</a>
								</li>
							</ul>
							<span class="navbar-text">
							<a class="btn btn-light btn-qref" href="https://aux5e.github.io/comprar-por-ponto.php" role="button"><i class="fas fa-calculator"style="color: #e40712;"></i></a>
							<a class="btn btn-light btn-qref" href="https://aux5e.github.io/quickref/" role="button"><i class="fas fa-dice-d20"></i> QuickRef</a>
							</span>
						</div>
					</nav>
				</div>
            </div>
        </div>
    </div>
</header>